.editor-group-letterpress {
    cursor: grab;
    background-image: url(https://autumn.revolt.chat/attachments/OEB8UosMOjndRE4rpvxS5_GuJoCxS_NQm58VQXFLL_/image.png) !important;
    background-size: contain !important;
}

.editor-group-letterpress:active {
    cursor: grabbing;
    background-image: url(https://autumn.revolt.chat/attachments/Yrv9H-tgHRBtswD0xi9V9UsDIOINsnJpMGBXMoUiZn/nazuna.png) !important;
}

/* This should theoretically preload the clicked state, but it doesn't seem to work */
.editor-group-letterpress:after {
    display: none;
    background-image: url(https://autumn.revolt.chat/attachments/Yrv9H-tgHRBtswD0xi9V9UsDIOINsnJpMGBXMoUiZn/nazuna.png);
}
