.editor-group-letterpress {
    cursor: grab;
    background-image: url(https://autumn.revolt.chat/attachments/OEB8UosMOjndRE4rpvxS5_GuJoCxS_NQm58VQXFLL_/image.png) !important;
    background-size: contain !important;
}

.editor-group-letterpress:active {
    cursor: grabbing;
    background-image: url(https://autumn.revolt.chat/attachments/Yrv9H-tgHRBtswD0xi9V9UsDIOINsnJpMGBXMoUiZn/nazuna.png) !important;
}

.editor-group-letterpress:after {
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
    content: 'preload';
    background-image: url(https://autumn.revolt.chat/attachments/Yrv9H-tgHRBtswD0xi9V9UsDIOINsnJpMGBXMoUiZn/nazuna.png);
}
